
.satauri1 {
    color:#FF0000;
}
.satauri2 {
   color:#2400FF; 
}
.satauri3 {
    color:#00461C;
 }
 .satauri11 {
color:#949494;
 }
 .satauri22 {
    color:#FF2929;
 }
 .satauri33 {
    color: #000000;
 }